/* Page */
html {
    background:#0b0e0f url(../images/pattern.gif) repeat 0 0;
    color:#fff;
}
.container {
    width:1062px;
    height:929px;
    margin:15px auto;
    background:url(../images/background.jpg) no-repeat 0 0;
    position:relative;
    box-shadow:0 0 20px #000;
    box-shadow:none;
    padding-top:10px;
}

h1 {
    font-size:52px;
    font-weight:bold;
    text-transform:uppercase;
    opacity:0.35;
    text-align:center;
    letter-spacing:3px;
    -webkit-text-stroke-width:2px;
    -webkit-text-stroke-color:#555;
}

/* Tooltips */
#tooltip {
    background:transparent url(../images/tooltip.png);
    position:absolute;
    top:100px;
    left:100px;
    width:180px;
    height:68px;
    color:#00374e;
    font-size:11px;
    font-weight:bold;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    padding-top:35px;
    display:none;
    z-index:50;
}

/* Button base */
.select-button, 
.lowpass-button, 
.highpass-button,
.feedforward-button,
.feedbackward-button {
    background:transparent;
    text-indent:-9999px;
    margin-top:0;
}
.button-down {
    margin-top:1px;
}


/* Audio engine enable lights */
.enable-light {
    width:20px;
    height:20px;
    background:transparent url(../images/buttons.png) no-repeat -67px -4px;
    display:none;
}
#web-audio-enabled {
    position:absolute;
    top:868px;
    left:826px;
}
#silverlight-enabled {
    position:absolute;
    top:886px;
    left:826px;
}

/* Displays */
#z-plane {
    position:absolute;
    top:141px;
    left:144px;
}
#magnitude-response {
    position:absolute;
    top:141px;
    left:529px;
}
#phase-response {
    position:absolute;
    top:309px;
    left:529px;
}

/* Filter controls list */
.filter-controls {
    position:absolute;
    top:458px;
    left:112px;
    padding:0;
}
.filter-controls li {
    list-style-type:none;
    clear:both;
    height:36px;
    display:block;
}

.filter-controls span {
    float:left;
    display:block;
    font-size:24px;
    font-weight:bold;
    opacity:0.25;
    letter-spacing:1px;
    margin-left:10px;
    margin-top:1px;
    text-transform:uppercase;
    width:320px;
}
.filter-controls .filter-type-buttons {
    width:80px;
    float:left;
    display:block;
    height:1px;
}

/* Select buttons */
.select-button {
    width:45px;
    height:39px;
    background:transparent url(../images/buttons.png) no-repeat 0 -22px;
    display:block;
    float:left;
}
.select-button:hover {
    background:transparent url(../images/buttons.png) no-repeat -90px -22px;
}
.select-button-on, .select-button-on:hover {
    background:transparent url(../images/buttons.png) no-repeat -45px -22px;
}
.select-button.button-down {
    height:38px;
}

/* Filter type buttons */
.lowpass-button,
.highpass-button,
.feedforward-button,
.feedbackward-button {
    width:35px;
    height:35px;
    display:block;
    float:left;
}
.lowpass-button {
    background:transparent url(../images/buttons.png) no-repeat -77px -77px;
}
.lowpass-button:hover {
    background:transparent url(../images/buttons.png) no-repeat -2px -116px;
}
.lowpass-button-on, .lowpass-button-on:hover {
    background:transparent url(../images/buttons.png) no-repeat -2px -77px;
}
.highpass-button {
    background:transparent url(../images/buttons.png) no-repeat -77px -115px;
}
.highpass-button:hover {
    background:transparent url(../images/buttons.png) no-repeat -39px -115px;
}
.highpass-button-on, .highpass-button-on:hover {
    background:transparent url(../images/buttons.png) no-repeat -39px -77px;
}
.feedforward-button {
    background:transparent url(../images/buttons.png) no-repeat -77px -156px;
}
.feedforward-button:hover {
    background:transparent url(../images/buttons.png) no-repeat -2px -197px;
}
.feedforward-button-on, .feedforward-button-on:hover {
    background:transparent url(../images/buttons.png) no-repeat -2px -156px;
}
.feedbackward-button {
    background:transparent url(../images/buttons.png) no-repeat -77px -197px;
}
.feedbackward-button:hover {
    background:transparent url(../images/buttons.png) no-repeat -39px -197px;
}
.feedbackward-button-on, .feedbackward-button-on:hover {
    background:transparent url(../images/buttons.png) no-repeat -39px -156px;
}

/* Sliders */
.slider-small {
    background:transparent url(../images/slider.png) no-repeat 0 -40px;
    width:93px;
    height:37px;
    float:left
}
.slider {
    background:transparent url(../images/slider.png) no-repeat 0 0;
    width:194px;
    height:37px;
    float:left
}
.slider-small div {
    width:55px;
}
.slider div {
    width:158px;
}
.ui-slider-horizontal {
   background:transparent;
   border:none;
   width:158px;
   height:38px;
   margin:0;
   padding:0;
   position:absolute;
 }
.ui-slider-horizontal .ui-slider-handle {
    background:transparent url(../images/slider-knob.png);
    border:none;
    width:38px;
    height:38px;
    padding:0;
    margin:0;
    top:2px;
}
.ui-slider-horizontal .ui-slider-handle.ui-state-hover {
    background-position:-38px 0;
}
.ui-slider-horizontal .ui-slider-handle.ui-state-active {
    background-position:-76px 0;
}

/* Audio play and stop buttons */
.play-button,
.stop-button {
    width:41px;
    height:43px;
    float:left;
    margin-top:-8px;
    background:transparent;
    text-indent:-9999px;
}
.play-button {
    background:transparent url(../images/buttons.png) no-repeat -3px -283px;
    clear:both;
}
.play-button:hover {
    background:transparent url(../images/buttons.png) no-repeat -90px -283px;
}
.play-button-on, .play-button-on:hover {
    background:transparent url(../images/buttons.png) no-repeat -47px -283px;
}
.stop-button {
    background:transparent url(../images/buttons.png) no-repeat -3px -237px;
    margin-left:-11px;
}
.stop-button:hover {
    background:transparent url(../images/buttons.png) no-repeat -90px -237px;
}
.stop-button-on, .stop-button-on:hover {
    background:transparent url(../images/buttons.png) no-repeat -47px -237px;
}
.play-button.button-down,
.stop-button.button-down {
    margin-top:-7px;
    height:42px;
}
.audio-playback {
    position:absolute;
    top:770px;
    left:112px;
}
.audio-playback .column {
    float:left;
    width:335px;
}
.audio-playback span {
    float:left;
    display:block;
    font-size:24px;
    font-weight:bold;
    margin-top:-8px;
    opacity:0.25;
    letter-spacing:1px;
    margin-left:4px;
    text-transform:uppercase;
}